services:

  backend:
    build: ./backend
    container_name: fastapi_backend
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    container_name: react_frontend
    env_file:
      - ./frontend/.env
    ports:
      - "3000:80"
    stdin_open: true
    tty: true
    depends_on:
      - backend